<div id="sidebar">
	<div class="inner">

		<!-- Search 
		<section id="search" class="alt">
			<form method="post" action="#">
				<input type="text" name="query" id="query" placeholder="Search" />
			</form>
		</section> -->

		<!-- Menu -->
		<nav id="menu">
			<header class="major">
				<h2>Menu</h2>
			</header>
			<ul>
				<li><a asp-area="" asp-controller="Home" asp-action="Index">Главная</a></li>
				<li><a asp-area="" asp-controller="Service" asp-action="Index">Услуги</a></li>
				<li><a asp-area="" asp-controller="Home" asp-action="Contacts">Контакты</a></li>
				<li><a href="elements.html">Elements</a></li>
				<li><a href="#">Etiam Dolore</a></li>
				<li><a href="#">Adipiscing</a></li>
				<li><a href="#">Maximus Erat</a></li>
				<li><a href="#">Sapien Mauris</a></li>
				<li><a href="#">Amet Lacinia</a></li>
				<!--
				<li>
					<span class="opener">Submenu</span>
					<ul>
						<li><a href="#">Lorem Dolor</a></li>
						<li><a href="#">Ipsum Adipiscing</a></li>
						<li><a href="#">Tempus Magna</a></li>
						<li><a href="#">Feugiat Veroeros</a></li>
					</ul>
				</li> -->
			</ul>
		</nav>

		<!-- Section -->
		<section>
			<header class="major">
				<h2>Контакты</h2>
			</header>
			<p></p>
			<ul class="contact">
				<li class="icon solid fa-envelope"><a href="#">@Config.CompanyEmail</a></li>
				<li class="icon solid fa-phone">@Config.CompanyPhone1</li>
				<li class="icon solid fa-phone">@Config.CompanyPhone2</li>
				<li class="icon solid fa-home">
					Улица пушкина, 
					дом Калатушкина <br />
				</li>
			</ul>
		</section>

	</div>
</div>